.career{
    background-color: rgb(237, 240, 242);
    z-index: 0;
    position: relative;
}
.career-wrap{
    padding: 1.875rem 1.125rem 2.375rem;
}
.career-title{
    font-family: 'Acrom-800', sans-serif;
    font-size: 1.25rem;
    line-height: 1.5;
    color: $main-font-color;
    text-align: center;
    letter-spacing: -1px;
    margin-bottom: 1.875rem;
    &::before{
        content: '[ ';
        font-family: $main-font-family;
    }
    &::after{
        content: '_ ]';
        font-family: $main-font-family;

    }
}
.career-list{
    margin-bottom: 2.125rem;
    counter-reset: career-list__item 0;
    &__item{
        position: relative;
        background-color: #fff;
        box-shadow: 0px 15px 32px 0px rgba(0, 0, 0, 0.16), -16px 16px rgb(230, 233, 235);
        min-height: 230px;
        padding: 2.375rem 1.75rem;
        &:not(:last-of-type){
            margin-bottom: 2.5rem;
        }
        &-dscr{
            font-family: 'Acrom-400', sans-serif;
            font-size: 1rem;
            line-height: 1.38;
            letter-spacing: -1px;
            span{
                font-family: 'Acrom-800', sans-serif;
            }
        }
        &::before{
            display: block;
            content: '';
            position: absolute;
            top: 24px;
            left: -12px;
            background-color: $main-site-color;
            width: 60px;
            height: 2px;
        }
        &::after{
            display: block;
            counter-increment: career-list__item 1;
            content: '0' counter(career-list__item, decimal);
            position: absolute;
            top: -34px;
            right: -1px;
            font-family: 'Montserrat', sans-serif;
            font-size: 3.125rem;
            color: rgb(251, 252, 251);
            z-index: -1;
        }
    }
    
}
.career-btn{
    @extend %btn;
    display: block;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Acrom-800', sans-serif;
    font-size: 0.875rem;
    letter-spacing: -0.5px;
    padding: 1.625rem 1.25rem;
    &:hover{
        @extend %btn-hover;        
    }
}


@media (min-width: 768px){
    .career-wrap{
        padding: 2.875rem 1rem 3.75rem;
    }
    .career-title{
        font-size: 1.875rem;
        line-height: 1.33;
        width: 540px;
        margin: 0 auto;
        margin-bottom: 3rem;        
    }
    .career-list{
        margin-bottom: 2.5rem;
        display: flex;
        justify-content: space-between;
        &__item{
            box-shadow: 0px 15px 32px 0px rgba(0, 0, 0, 0.16), -18px 14px rgb(230, 233, 235);
            width: 226px;
            padding: 2.25rem 1.875rem;
            &:not(:last-of-type){
                margin-bottom: 0;
            }
            &::after{
                font-size: 4.375rem;
                top: -52px;
                right: 0;
            }
        }
    }
    .career-btn{
        font-size: 1.125rem;
        width: 532px;
    }
}

@media (min-width: 1200px){
    .career-wrap{
        padding: 5.25rem 1rem 6.25rem;
    }
    .career-title{
        font-size: 3rem;
        line-height: 1.25;
        letter-spacing: -1.5px;
        width: 1070px;
        margin-bottom: 6.25rem;
    }
    .career-list{
        margin-bottom: 4.75rem;
        &__item{
            box-shadow: 0px 15px 32px 0px rgba(0, 0, 0, 0.16), -20px 20px rgb(230, 233, 235);
            width: 350px;
            min-height: 278px;
            padding: 3.875rem 1.875rem 2.5rem;
            &-dscr{
                font-size: 1.125rem;
                line-height: 1.94;
            }
            &::before{
                top: 44px;
            }
            &::after{
                font-size: 9.375rem;
                top: -106px;
                right: -4px;
            }
        }
    }
    .career-btn{
        font-size: 1.5625rem;
        padding: 2.5rem 0;
        width: 810px;
    }
}