.questions-sec {
  padding: 40px 0 40px;
}

.questions-sec__title {
  font-family: "Acrom-800", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 1.25rem;
  line-height: 1.875rem;
  margin-bottom: 1.875rem;
  text-align: left;
}

.questions-bl__item {
  position: relative;
  padding: 0 0 0 2.25rem;
  font-family: "Acrom-400", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.875rem;
  line-height: 1.25rem;

  &:not(:last-of-type) {
    margin-bottom: 1.625rem;
  }
}

.questions-bl__item::before {
  position: absolute;
  top: 5px;
  left: 0;
  content: "";
  display: block;
  background-image: url(../images/icon-arrow.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 20px;
  height: 10px;
}

.acrom-b-e {
  font-family: "Acrom-800", sans-serif;
  font-weight: 800;
}

@media (min-width: 768px) {
  .questions-sec {
    width: 620px;
    padding: 2.5rem 0 2.5rem;
  }

  .questions-sec__title {
    font-size: 1.875rem;
    line-height: 2.5rem;
    margin-bottom: 2.5rem;
  }

  .questions-bl__item {
    padding: 0 0 0 2.625rem;

    &:not(:last-of-type) {
      margin-bottom: 1.375rem;
    }

    font-size: 1rem;
    line-height: 1.375rem;
  }
}

@media (min-width: 1200px) {
  .questions-sec {
    padding: 8.125rem 0 6.125rem;
  }

  .questions-sec {
    display: flex;
    justify-content: space-between;
  }

  .questions-sec__title {
    width: 515px;
    padding: 0 0.9375rem 0;
    font-size: 3rem;
    line-height: 3.75rem;
  }

  .questions-bl {
    width: 570px;
  }

  .questions-bl__item {
    padding: 0 0.9375rem 0 4.6875rem;

    &:not(:last-of-type) {
      margin-bottom: 2.25rem;
    }

    font-size: 1.125rem;
    line-height: 1.875rem;
  }

  .questions-bl__item::before {
    top: 10px;
    left: 34px;
  }
}
