.yourway {
  background-image: url(../images/bg_mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 2.5rem 0 2.5rem 0;

  &__txt-question {
    color: #fff;
    font-family: 'Acrom-800', sans-serif;
    font-size: 1rem;
    line-height: 1.25rem;
    letter-spacing: -0.0625rem;
    margin-bottom: 2.75rem;
  }

  &__txt-work {
    font-family: 'Acrom-400', sans-serif;
    font-size: 0.875rem;
    line-height: 1.375rem;
    color: #dbdbdb;
    position: relative;
    margin-bottom: 1.875rem;
    &-color {
      font-family: 'Acrom-800', sans-serif;
      color: #fff;
    }
    &::before {
      content: '';
      display: block;
      background-color: $main-site-color;
      position: absolute;
      top: -20px;
      left: 0;
      width: 60px;
      height: 2px;
    }
  }
  &__title {
    font-family: 'Acrom-800', sans-serif;
    font-size: 1.25rem;
    color: $main-site-color;
    letter-spacing: -1px;
    margin-bottom: 1.25rem;
  }
}
.yourway-btn {
  @extend %btn;
  font-family: 'Acrom-800', sans-serif;
  font-size: 0.875rem;
  width: 16.25rem;
  height: 4.375rem;
  &:hover,
  &:focus {
    @extend %btn-hover;
  }
}

@media (-webkit-min-device-pixel-ratio: 2),
  (-o-min-device-pixel-ratio: 2/1),
  (min-resolution: 192dpi) {
  .yourway {
    background-image: url('../images/bg_mobile@2x.jpg');
  }
}

@media (min-width: 768px) {
  @media (-webkit-min-device-pixel-ratio: 2),
    (-o-min-device-pixel-ratio: 2/1),
    (min-resolution: 192dpi) {
    .yourway {
      background-image: url('../images/bg_tablet@2x.jpg');
    }
  }

  .yourway {
    background-image: url(../images/bg_tablet.jpg);

    &__txt-question {
      font-size: 1.375rem;
      margin-bottom: 3.75rem;
    }
    &__txt-work {
      font-size: 1rem;
      width: 24rem;
      margin-bottom: 2.5rem;
    }
    &__title {
      font-size: 2.5rem;
      margin-bottom: 2.5rem;
      width: 42.6875rem;
    }
  }
  .yourway-btn {
    width: 33.125rem;
    font-size: 1.125rem;
  }
}

@media (min-width: 1200px) {
  @media (-webkit-min-device-pixel-ratio: 2),
    (-o-min-device-pixel-ratio: 2/1),
    (min-resolution: 192dpi) {
    .yourway {
      background-image: url('../images/bg_desktop@2x.jpg');
    }
  }

  .yourway {
    padding: 6.25rem 0 6.875rem 0;
    background-image: url(../images/bg_desktop.jpg);

    &__txt-question {
      width: 42.6875rem;
      font-size: 1.875rem;
      line-height: 2.1875rem;
      letter-spacing: -1px;
    }
    &__txt-work {
      order: 2;

      font-size: 1.125rem;
      line-height: 2.1875rem;
    }
    &__title {
      width: 42.6875rem;
      font-size: 3rem;
      letter-spacing: -3px;
      margin-bottom: 3.75rem;
    }
  }
  .btn-block-wrapper {
    order: 1;
    margin-right: 7.1875rem;
  }
  .yourway-btn {
    width: 42.6875rem;
    height: 6.875rem;
    font-size: 1.875rem;
  }
  .desktop-wrapper {
    display: flex;
    justify-content: flex-start;
  }
}
